/* spellchecker:disable */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>


&sk {
    release-after-ms = <4000>;
    quick-release;
    lazy;
};

&lt {
    tapping-term-ms = <200>;
};

&mt {
    tapping-term-ms = <200>;
};

/ {
    chosen {
        zmk,charmap = &charmap_us;
    };
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
            require-prior-idle-ms = <125>;
        };
        
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            display-name = "COLEMAK";
            bindings = <
&kp LA(L)    &kp W    &kp F    &ht LS(LC(LALT)) P    &kp B    &kp J    &ht LS(LC(LALT)) L    &kp U    &kp Y    &kp LA(W)
&ht LSHFT A    &ht LALT R    &ht LCTL S    &ht LCMD T    &kp G    &kp M    &ht RCMD N    &ht RCTL E    &ht RALT I    &ht RSHFT O
&kp Z    &kp X    &kp C    &kp D    &kp V    &kp K    &kp H    &kp COMMA    &kp DOT    &kp LA(Q)
            &lt 3 ENTER    &lt 1 SPACE            &lt 2 BSPC       &sk LSHFT
>;
        };

        layer1 {
            display-name = "LEFTTHUMB";
            bindings = <
&kp EXCL    &kp AT    &kp HASH    &kp DLLR    &kp PRCNT    &kp ESC    &none    &none    &none    &none
&ht RSHFT CARET    &ht LALT AMPS    &ht LCTL ASTRK    &ht LCMD BSLH    &kp PIPE    &none    &kp LEFT    &kp DOWN    &kp UP    &kp RIGHT
&kp TILDE    &kp GRAVE    &none    &none    &kp Q    &none    &none    &none    &none    &none
        &kp ENTER    &none        &kp TAB    &kp GRAVE 
>;
        };

        layer2 {
            display-name = "RTHUMB";
            bindings = <
&kp ASTRK    &kp N7    &kp N8    &kp N9    &kp PLUS    &kp RBKT    &kp RPAR    &kp RBRC    &kp SQT    &kp MINUS
&kp SLASH    &kp N4    &kp N5    &kp N6    &kp MINUS    &kp LBKT    &kp LPAR    &kp LBRC    &kp DQT    &kp UNDER
&kp COMMA    &kp N1    &kp N2    &kp N3    &kp EQL    &kp COLON    &kp SEMI    &kp LT    &kp GT    &kp SLASH
        &kp ENTER    &kp N0        &kp TAB    &none 
>;
        };

        layer3 {
            display-name = "FUNC";
            bindings = <
&none    &kp F7    &kp F8    &kp F9    &kp F12    &kp RS(LG(N4))    &kp LA(LC(H))    &kp LA(LC(J))    &kp LA(LC(K))    &kp LA(LC(L))
&none    &kp F4    &kp F5    &kp F6           &kp F11    &none            &kp RC(LEFT)       &kp RC(DOWN)       &kp RC(UP)       &kp RC(RIGHT)
&none           &kp F1    &kp F2           &kp F3    &kp F10    &none    &none    &none    &none    &bootloader
&kp ENTER      &none        &kp TAB            &mo 4 
>;
        };
        layer4 {
            display-name = "BLUETOOTH";
            bindings = <
&none    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &none    &none    &none    &none    &none    &none
&none    &none    &none    &none           &none    &none            &none       &knone       &none       &none
&none           &bt BT_CLR    &none           &none    &none    &none    &none    &none    &none    &none
&none      &none        &none            &none 
>;
        };
    };
};
